/****** General ***********/

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Roboto;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 12px;
  }
  
  .card {
    background-color: white;
    border-radius: 12px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Header */
  
  #main-header {
    a {
      background-color: white;
    }
  
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 45%;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }
  
    .search {
      display: flex;
      flex-direction: row;
      background-color: rgb(228, 224, 224);
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 13px;
      filter: drop-shadow(0px 3px 3px rgb(179, 177, 177));
    }
  }
  
  .search {
    input {
      text-decoration: none;
      color: black;
      font-weight: bold;
      border: none;
      background-color: rgb(228, 224, 224);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
    }
  
    .maps {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      font-size: 14px;
    }
  }
  
  ::placeholder {
    color: rgb(56, 54, 54);
    text-align: center;
    font-size: 13px;
  }
  
  /* First section */
  
  .first-section {
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 50px;
    padding-top: 20px;
  
    h1 {
      padding-left: 50px;
      padding-right: 50px;
      font-weight: bold;
      font-size: 20px;
    }
  
    p {
      font-size: 15px;
      padding-bottom: 10px;
      color: rgb(105, 101, 101);
    }
  
    button {
      border-radius: 25px;
      background: linear-gradient(to top, #9356DC, #FF79DA);
      color: white;
      border: none;
      padding: 15px;
      filter: drop-shadow(0px 3px 3px rgb(179, 177, 177));
  
      &:hover {
        background: linear-gradient(to top, #9f6edb, #f88ad9);
        filter: drop-shadow(0px 6px 6px rgb(141, 134, 134));
      }
    }
  }
  
  /* Fonctionnement */
  
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 10px;
  
    button {
      width: 100%;
      border-radius: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 25px;
      margin-bottom: 15px;
      margin-right: 15px;
      border: none;
      font-size: 13px;
      font-weight: bold;
      font-family: Roboto;
      display: flex;
      align-items: flex-start;
      box-shadow: 0px 3px 10px rgb(206, 204, 204);
  
      i {
        padding-right: 20px;
        color: rgb(102, 99, 99);
        font-size: 16px;
      }
    }
  
    .number {
      position: relative;
      left: 10px;
      top: 20px;
      font-size: 11px;
      color: white;
      background-color: #9356DC;
      text-align: center;
      border: none;
      border-radius: 100%;
      height: 20px;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .magasin {
      color: #9356DC;
    }
  
    .choice {
      width: 100%;
    }
  
    .one-choice {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
    }
  
    button:hover {
      background-color: rgb(247, 239, 239);
      box-shadow: 0px 3px 10px rgb(126, 119, 119);
    }
  }
  
  /* Restaurant */
  
  .restaurant {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px;
  }
  
  .restaurant-cards {
    .card {
      height: 220px;
      margin-bottom: 20px;
  
      img {
        width: 100%;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
      }
    }
  
    .card-txt {
      h3 {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
        padding-left: 10px;
      }
  
      p {
        text-decoration: none;
        color: black;
        font-size: 14px;
        margin-top: 5px;
        padding-left: 10px;
      }
    }
  
    .new p {
      position: relative;
      bottom: 205px;
      left: 215px;
      font-size: 12px;
      font-weight: bold;
      color: rgb(8, 146, 132);
      background-color: rgb(163, 248, 240);
      width: 50px;
      height: 15px;
      margin: 0px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 3px;
    }
  
    .heart {
      color: black;
      font-size: 22px;
      position: relative;
      bottom: 70px;
      left: 250px;
    }
  
    .heart-bis {
      color: black;
      font-size: 22px;
      position: relative;
      bottom: 45px;
      left: 250px;
    }
  
    .heart {
      cursor: pointer;
      background-image: violet;
    }
  }
  
  /* Footer */
  
  .footer-link {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 57, 57);
    padding-bottom: 20px;
  
    h3 {
      font-family: shrikhand;
      font-weight: normal;
      font-size: 15px;
      color: white;
      padding-left: 20px;
    }
  
    nav {
      display: flex;
      flex-direction: column;
  
      a {
        color: white;
        font-size: 13px;
        padding-left: 20px;
        padding-bottom: 5px;
      }
  
      i {
        font-size: 10px;
        padding-right: 10px;
      }
    }
  }
  
  /****** Media queries ***********/
  /* Medium devices (desktop, less/equal than 1440px) */
  @media (max-width: 1440px) {}
  
  #main-header {
    .logo img {
      width: 15%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .search {
      filter: none;
    }
  }
  
  .search input {
    width: 10%;
  }
  
  .first-section {
    padding-bottom: 20px;
  
    h1 {
      font-size: 34px;
      margin-top: 0px;
    }
  }
  
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  
    h2 {
      padding-left: 180px;
      padding-bottom: 5px;
    }
  
    .fonction {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    button {
      padding-left: 40px;
      padding-right: 70px;
    }
  }
  
  .restaurant {
    padding-top: 0px;
  
    h2 {
      padding-left: 170px;
    }
  
    .card-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-right: 170px;
      padding-left: 95px;
    }
  }
  
  .restaurant-cards {
    .new p {
      position: relative;
      bottom: 205px;
      left: 340px;
    }
  
    .card {
      margin-left: 80px;
      margin-bottom: 40px;
      width: 420px;
    }
  
    .heart {
      position: relative;
      bottom: 70px;
      left: 380px;
    }
  
    .heart-bis {
      position: relative;
      bottom: 45px;
      left: 380px;
    }
  }
  
  .footer-link {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
  
    h3 {
      padding-left: 80px;
      padding-top: 20px;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
    }
  
    .end {
      font-weight: bold;
      padding-left: 0px;
      padding-right: 15px;
    }
  }
  
  /* ... */
  