@charset "UTF-8";

/* Styles de base pour les mobiles */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: Roboto;
}

main {
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none !important;
}

.title {
  font-size: 20px;
  padding-left: 5px;
  padding-bottom: 12px;
}

/*Header*/
#main-header {
  display: flex;
  flex-direction: column;
}

#main-header a {
  display: flex;
  flex-direction: row;
}

#main-header .fleche {
  color: black;
  position: relative;
  left: 20px;
  top: 37px;
}

#main-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-header .logo img {
  width: 40%;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#main-header .photo img {
  width: 100%;
  object-fit: cover;
}

.taste {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  background-color: rgb(245, 245, 245);
  position: relative;
  bottom: 45px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.taste .heart {
  margin-top: 0;
  padding: 0px;
}

.taste h1 {
  font-family: shrikhand;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.taste .coeur1 {
  background: rgb(245, 245, 245);
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 40px;
  z-index: 2;
}

.taste .coeur1:hover {
  visibility: hidden;
}

.taste .coeur2 {
  width: 20px;
  height: 20px;
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 40px;
  z-index: 1;
}

.taste .part {
  padding-bottom: 25px;
}

.taste .part h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  position: relative;
  bottom: 10px;
}

.taste .part h2::after {
  content: '';
  display: block;
  width: 13%;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  top: 20px;
  left: 0;
}

.taste .menu {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 13px;
  margin-top: 20px;
  margin-right: 15px;
  border: none;
  font-size: 13px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 3px 10px rgb(206, 204, 204);
  cursor: pointer;
  position: relative;
}

.taste .menu-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.taste .menu .plat-et-prix {
  display: flex;
  justify-content: space-between;
  width: 97%;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.plat-et-prix {
  width: 100%;
  transition: width 0.5s;
}

.menu:hover .plat-et-prix {
  width: 80%;
}

.taste .menu .price {
  font-size: 15px;
  font-weight: bold;
}

.menu .checkbox {
  position: absolute;
  bottom: 44px;
  right: 700px;
  cursor: pointer;
  margin-left: 0;
  width: 0%;
  transition: width 0.5s;
}

.menu:hover .checkbox {
  width: 17%;
}


.menu .checkbox_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.menu .checkbox .fa-solid {
  font-size: 20px;
  font-weight: bold;
  color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 43px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0px;
  left: 700px;
}

.menu:hover .checkbox .fa-solid {
  color: white;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu .plat-et-prix .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-command {
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
  margin-left: 70px;
  filter: drop-shadow(0px 3px 3px rgb(179, 177, 177));
  cursor: pointer;
}

.button-command:hover {
  background: linear-gradient(to top, #9f6edb, #f88ad9);
  filter: drop-shadow(0px 6px 6px rgb(141, 134, 134));
}

.boutons1 {
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
  /* Délai de 1 secondes avant l'animation */
}

.boutons2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards 2s;
  /* Délai de 2 secondes avant l'animation */
}

.boutons3 {
  opacity: 0;
  animation: fadeIn 1s ease forwards 3s;
  /* Délai de 3 secondes avant l'animation */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Footer */
.footer-link {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 57, 57);
  padding-bottom: 70px;
  position: relative;
  bottom: 50px;
}

.footer-link h3 {
  font-family: shrikhand;
  font-weight: normal;
  font-size: 15px;
  color: white;
  padding-left: 20px;
}

.footer-link nav {
  display: flex;
  flex-direction: column;
}

.footer-link nav a {
  color: white;
  font-size: 13px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.footer-link nav i {
  font-size: 10px;
  padding-right: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  #main-header .logo img {
    width: 25%;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  #main-header .photo img {
    height: 650px;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding-bottom: 15px;
    object-fit: cover;
  }

  .taste h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .taste .heart {
    position: relative;
    bottom: 98px;
    right: 120px;
  }

  .taste .part {
    margin-left: 50px;
    margin-right: 50px;
  }

  .taste .part h2::after {
    width: 6%;
  }

  .menu:hover .plat-et-prix {
    width: 90%;
  }

  .menu .checkbox {
    position: absolute;
    bottom: 44px;
    right: 700px;
    cursor: pointer;
    margin-left: 0;
    width: 0%;
    transition: width 0.5s;
  }

  .menu:hover .checkbox {
    width: 8%;
  }

  .menu:hover .checkbox .fa-solid {
    color: white;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .checkbox_input {
    width: 0;
    height: 0;
    opacity: 0;
  }


  .button-command {
    margin-left: 300px;
  }

  .footer-link {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
  }

  .footer-link h3 {
    padding-left: 80px;
    padding-top: 20px;
  }

  .footer-link nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .footer-link .end {
    font-weight: bold;
    padding-left: 0px;
    padding-right: 15px;
  }
}

/****** Media queries ***********/
/* Medium devices (desktop, less/equal than 1024px) */
@media (min-width: 1024px) {
  #main-header .logo img {
    width: 15%;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  #main-header .photo img {
    height: 650px;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    padding-bottom: 15px;
    object-fit: cover;
  }

  #main-header .fleche {
    font-size: 20px;
  }

  .taste {
    margin-left: 170px;
    margin-right: 170px;
    padding-left: 170px;
    padding-right: 170px;
  }

  .taste h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .taste .heart {
    position: relative;
    bottom: 60px;
    left: 480px;
  }

  .taste .heart i {
    font-size: 30px;
  }

  .taste h2,
  .taste h3 {
    font-size: 17px;
  }

  .taste p {
    font-size: 15px;
  }

  .taste .part h2::after {
    width: 6%;
  }

  .taste .coeur1 {
    background: rgb(245, 245, 245);
    width: 25px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    top: -17px;
    left: 25px;
    z-index: 2;
  }

  .taste .coeur1:hover {
    visibility: hidden;
  }

  .taste .coeur2 {
    width: 25px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    top: -17px;
    left: 25px;
    z-index: 1;
  }

  .taste .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 13px;
    margin-top: 10px;
    margin-right: 15px;
    border: none;
    font-size: 13px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 3px 10px rgb(206, 204, 204);
    cursor: pointer;
    position: relative;
  }

  .taste .menu h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .taste .menu .plat-et-prix {
    display: flex;
    justify-content: space-between;
    width: 97%;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .plat-et-prix {
    width: 100%;
    transition: width 0.5s;
  }

  .menu:hover .plat-et-prix {
    width: 90%;
  }

  .taste .menu .price {
    font-size: 15px;
    font-weight: bold;
  }

  .menu .checkbox {
    position: absolute;
    bottom: 44px;
    right: 700px;
    cursor: pointer;
    margin-left: 0;
    width: 0%;
    transition: width 0.5s;
  }

  .menu:hover .checkbox {
    width: 8%;
  }

  .menu:hover .checkbox .fa-solid {
    color: white;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu .checkbox_input {
    width: 0;
    height: 0;
    opacity: 0;
  }


  .menu .checkbox .fa-solid {
    font-size: 20px;
    font-weight: bold;
    color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 43px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 7px;
    left: 700px;
  }

  .boutons1 {
    opacity: 0;
    animation: fadeIn 2s ease forwards 1s;
    /* Délai de 1 secondes avant l'animation */
  }

  .boutons2 {
    opacity: 0;
    animation: fadeIn 2s ease forwards 2s;
    /* Délai de 2 secondes avant l'animation */
  }

  .boutons3 {
    opacity: 0;
    animation: fadeIn 2s ease forwards 3s;
    /* Délai de 3 secondes avant l'animation */
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .button-command {
    margin-left: 230px;
  }

  .footer-link {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
  }

  .footer-link h3 {
    padding-left: 80px;
    padding-top: 20px;
  }

  .footer-link nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .footer-link .end {
    font-weight: bold;
    padding-left: 0px;
    padding-right: 15px;
  }
}

/* ... */
